.chatbox {
    background-color: #ffffff;
    border: 2px solid #ccc;
    height: 60vh;
    padding: 0.5rem 2rem;
    overflow-y: auto;
    border-radius: 0.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0.5rem;
}

.message {
    width: 55%;
    margin-top: 5px;
}

.media_message {
    width: 100%;
}

.message_body {
    border-radius: 15px;
    padding: 10px 20px;
}

.content {
    word-wrap: break-word;
}

.username_container {
    padding: 3px 0;
}

.message_body_right {
    background: #666666;
    color: white;
}

.message_body_left {
    background: #e8e4e4;
    color: black;
}

.message_right {
    margin-left: auto;
}

.message_left {
    margin-right: auto;
}

.username {
    font-weight: bold;
}

.date {
    color: gray;
    font-style: italic;
    padding: 0 10px;
}

.date_right {
    float: right;
}

.date_left {
    float: left;
}